body {
    min-width: 960px; 
    max-width: 1200px; 
    margin: 10px; 
    padding: 0; 
    font-family: "PT Sans Narrow"; 
    font-size: 14px; 
    line-height: 21px; 
    font-weight: normal; 
    color: var(--basic-brown); 
    text-transform: uppercase; 
    background-color: var(--basic-white); 
    text-align: center; 

}

.site-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    list-style: none;
}
.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}
.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: .3;
}

.headers {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

:root { 
    --basic-white: #fff;
    --basic-black: #000;
    --basic-brown: #333;
    --basic-blue: #81B3D2;
    --basic-light-brown: #766357;
    --basic-grey: #EEEEEE;
    --basic-dark-brown: #604E43;
    --basic-very-dark-brown: #503E33;
    --basic--dark-blue: #669EC0;
    --basic-very-dark-blue: #5496BD;
  }

  .description {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    list-style: none;
  }

 .reason {
    font-size: 21px;
    font-weight: bold;
    background: var(--basic-blue);
    color: var(--basic-white);
 }

 .reason-number {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    font-weight: normal;
 }

 .reason-slogan {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    font-weight: normal;
 }

  .advantages-2 {
    background: var(--basic-grey);
    list-style: none;
  }

  .advantages-info {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-brown);
  }

  .interested {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
  }

  .search-sedona {
    background: var(--basic-lightbrown);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    height: 86px;
    width: 568px;
    text-transform: uppercase;
    color: var(--basic-white);
  }

  .footer {
    background: var(--basic-white);
  }

  .contact {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  .social {
    background: var(--basic-white);
    list-style: none;
    /* text-decoration: none; */
  }

  .social a {
    color: #000;
    text-decoration: none;
  }

  .traveldate {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }

  .button {
    background: var(--basic-blue);
    width: 458px;
    height: 58px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
  }

  .button button:hover {
    background-color: var(--basic--dark-blue);
    color: var(--basic-white);
  }

  .reason-number2 {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
  }