body {
    min-width: 960px; 
    max-width: 1200px; 
    margin: 10px; 
    padding: 0; 
    font-family: "PT Sans Narrow"; 
    font-size: 14px; 
    line-height: 21px; 
    font-weight: normal; 
    color: var(--basic-brown); 
    text-transform: uppercase; 
    background-color: var(--basic-white); 
    text-align: center; 

}

.site-navagition {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
}

.headers {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

:root { 
    --basic-white: #fff;
    --basic-black: #000;
    --basic-brown: #333;
    --basic-blue: #81B3D2;
    --basic-lightbrown: #766357;
    --basic-grey: #EEEEEE;
  }

  .description {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
  }

 .reason {
    font-size: 21px;
    font-weight: bold;
    background: var(--basic-blue);
    color: var(--basic-white);
 }

 .reason-number {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    font-weight: normal;
 }

 .reason-slogan {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
 }

  .advantages-2 {
    background: var(--basic-grey);
  }

  .advantages-info {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-brown);
  }

  .interested {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
  }

  .search-sedona {
    background: var(--basic-lightbrown);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    height: 86px;
    width: 568px;
    text-transform: uppercase;
  }

  .footer {
    background: var(--basic-white);
  }

  .contact {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  .social {
    background: var(--basic-blue);
  }

  .traveldate {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }

  .button {
    background: var(--basic-blue);
    width: 458px;
    height: 58px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
  }

  .reason-number2 {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
  }